
.primary-btn{
   color: #fff;
   background-color: #006ce4;
   padding: 10px 18px;
   border-radius: 6px;
   font-weight: bolder;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
}
.primary-btn:hover{
    background-color: #006ae4dc;
}

